<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220016977130-m1urcl99bcgvejduh31b0fpo4dbtveog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220016977130-m1urcl99bcgvejduh31b0fpo4dbtveog</string>
	<key>API_KEY</key>
	<string>AIzaSyDDQmfIFxQEMwTiQ864RIJYnd9jpx6xmog</string>
	<key>GCM_SENDER_ID</key>
	<string>220016977130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shahcement.toufik</string>
	<key>PROJECT_ID</key>
	<string>toufik-5a92e</string>
	<key>STORAGE_BUCKET</key>
	<string>toufik-5a92e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220016977130:ios:241dbe745f931389396393</string>
</dict>
</plist>